/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.calva
.calva
calva
/calva
/.clj-kondo
.clj-kondo
clj-kondo
/clj-kondo
/.lsp
.lsp
lsp
/lsp
/.clj
.clj
clj
/clj